#addcust {background-color: #000080; color: #FFFFFF; visibility: hidden; width: 580px; padding: 10px;}
#changecustomer {background-color: #C0C0C0; position: absolute; top: 111px; visibility: hidden; width: 580px; color: #000000; padding: 10px;}
#deletecustomer {background-color: #000000; position: absolute; top: 111px; visibility: hidden; width: 580px; color: #FFFFFF; padding: 10px;}

.content-area {max-width:600px;}
#menu {max-width: 600px;}
#customerid {margin-left: 40px;}
#customercity {margin-left: 10px;}
.idformat{font-weight: bold; font-style: italic;}
#ordernumber {margin-left: 34px;  margin-bottom: 10px;}
#shipname {margin-left: 39px; margin-bottom: 10px;}
#shipstreet {margin-left: 40px; margin-bottom: 10px;}
#shipcity {margin-left: 49px;  margin-bottom: 10px;}
#shippostalcode { margin-bottom: 10px;}
